@font-face {
  font-family: 'Canela';
  src: url('../assets/fonts/Canela-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Canela';
  src: url('../assets/fonts/Canela-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Canela';
  src: url('../assets/fonts/Canela-Bold.otf') format('opentype');
  font-weight: 700;
}